* {
  margin: 0;
  padding: 0;
}

.navigation {
  margin-top: 2rem;
  /* border: 1px solid black; */
  /* justify-content: center; */
}

.mainContent {
  padding: 30px;
}

.showAccount {
  cursor: pointer;
}
.contractAddress {
  cursor: pointer;
}

.candidates_panel {
  display: flex;
}
